body{
    width: 100%;
}
a {
    text-decoration: none !important;
}
hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #337ab7;
    background-color: #337ab7;
    width: 100%;
    margin-top: 280px;
}

.mega-logo-home {
    width: 400px;
    height: 400px;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*arrow*/
.glyphicon-chevron-left {
    font-size: 2.5em;
    color: #337ab7;
    position: fixed;
    top: 49%;
    left: 37%;
}
.glyphicon-chevron-right {
    font-size: 2.5em;
    color: #337ab7;
    position: fixed;
    top: 49%;
    right: 37%;
}
.glyphicon-chevron-down {
    font-size: 2.5em;
    color: #337ab7;
    position: fixed;
    top: 73%;
    right: 49%;
}
.glyphicon-chevron-up {
    font-size: 2.5em;
    color: #337ab7;
    position: fixed;
    top: 23%;
    right: 49%;
}

/*arrow title*/
.link-up {
    font-size: 2.0em;
    color: #BDCFCA;
    position: fixed;
    top: 19%;
    right: 45%;
}
.link-down {
    font-size: 2.0em;
    color: #BDCFCA;
    position: fixed;
    top: 77%;
    right: 46.5%;
}
.link-left {
    font-size: 2.0em;
    color: #BDCFCA;
    position: fixed;
    top: 49%;
    left: 30%;
}
.link-right {
    font-size: 2.0em;
    color: #BDCFCA;
    position: fixed;
    top: 49%;
    right: 27%;
}

/*porträt style*/
.mega-logo{
    width: 200px;
    height: 200px;
    position: fixed; /* or absolute */
    top: 5%;
    right: 5%;
}
.link-header1 {
    top: 60px;
    font-size: 2.0em;
    left: 83%;
}
.portraet-link {
    font-size: 1.5em;
    color: #337ab7;
    position: fixed;
    top: 60px;
    right: 17%;
}
.link-header2 {
    top: 110px;
    font-size: 2.0em;
    left: 83%;
    color: #BDCFCA;
}
.leistungen-link {
    font-size: 1.5em;
    color: #BDCFCA;
    position: fixed;
    top: 110px;
    right: 17%;
}
.link-header3 {
    top: 160px;
    font-size: 2.0em;
    left: 83%;
    color: #BDCFCA;
}
.referenzen-link {
    font-size: 1.5em;
    color: #BDCFCA;
    position: fixed;
    top: 160px;
    right: 17%;
}
.link-header4 {
    top: 210px;
    font-size: 2.0em;
    left: 83%;
    color: #BDCFCA;
}
.kontakt-link {
    font-size: 1.5em;
    color: #BDCFCA;
    position: fixed;
    top: 210px;
    right: 17%;
}
.link-active:active {
    color: #337ab7;
}

