
a {
    text-decoration: none !important;
}
.wrapper {
    background-color: red;
    max-width: 700px;
    max-height: 700px;
    text-align: center;
    /*margin: 0 auto;*/
    /*padding: 5px;*/
}
.item {
    background-color: white;
    margin: 1px;
    color: black;
    text-align: center;
    height: 100px;
    /*width: 200px;*/
    line-height: 100px;
}

/*Flexbox*/
hr {
    color: #337ab7;
;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: 210px;
    height: 210px;
}
.item2 {
    background-image: url(../images/Pfeil_Folgeseite_links_blau.svg);
    /*z-index: -1;*/
    transform: rotate(90deg);
    background-repeat: no-repeat;
    background-position: 100% .25em;
    background-size: 11px 15px;
}
.mega-logo-home {
    width: 210px;
    height: 210px;
}



ul.list-navigation a {
    text-transform: uppercase;
    margin-right: 10px;
    color: #BDCFCA;
}
ul.list-navigation {
    text-align: right;
    margin-top: 10px;
}
li {
    background-image: url(../images/Pfeil_Folgeseite_links_grau.svg);
    background-repeat: no-repeat;
    background-position: 100% .25em;
    background-size: 11px 15px;
    padding-right: .6em;
    margin-bottom: 25px;
}
p {
    margin-bottom: 1px;
}
.zeile-abstand {
    margin-bottom: 20px;
}


/*********************index seite*******************************/

/*arrow title*/
.link-up {
    transform: rotate(-90deg) !important;
}
.link-down {
/*font-size: 2.0em;*/
/*color: #BDCFCA;*/
/*position: fixed;*/
/*top: 77%;*/
/*right: 46.5%;*/
}
.link-left {
/*font-size: 1.5em;*/
/*color: #BDCFCA;*/
/*/!*position: fixed;*!/*/
/*top: 49%;*/
/*left: 30%;*/
}
.link-right {
/*font-size: 2.0em;*/
/*color: #BDCFCA;*/
/*position: fixed;*/
/*top: 49%;*/
/*right: 27%;*/
}


/*.item5 {*/
    /*width: 280px;*/
    /*height: 280px;*/
/*}*/

/*Porträt seite*/

.portraet-link {
    margin-left: 37px;
    font-size: 1.1em;
    color: #BDCFCA;
}
.leistungen-link {
    margin-left: 6px;
    font-size: 1.1em;
    color: #BDCFCA;
}
.referenzen-link {
    margin-left: 6px;
    font-size: 1.1em;
    color: #BDCFCA;
}
.kontakt-link {
    margin-left: 37px;
    font-size: 1.1em;
    color: #BDCFCA;
}
/*Leistungen Seite*/
ul.leistungen-feile li{
    background-image: url(../images/Pfeil_Folgeseite_rechts_blau.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 11px 15px;
    padding-left: .6em;
    margin-bottom: 25px;
    text-align: left;
}
.leistungen{
    color: #337ab7;
}
.leistung-bilder {
    width: 650px;
    height: 440px;
}
/*Referenzen*/
.schrift {
    color: #337ab7;
}
.bullet-point {
    color: #337ab7;
}
ul.leistungen-feile a {
    margin-left: 15px;
}