/* General */
a,
a:hover,
a:active {
    text-decoration: none;
    color: rgb(64,88,171);
}
a:focus {
    color: rgb(64,88,171);
}

strong {
    font-family: 'Helvetica Neue LT W01_65 Md',Helvetica,sans-serif;
}

hr {
    color: #4058ab;
}

/* Homepage */
.container-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.container-flex a {
    font-size: 20px;
    text-transform: uppercase;
    color: #8a8a8a;
}
.container-flex a:hover,
.container-flex a:active {
    color: #4058ab;
}
.container-flex > div {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.container-flex > div > div{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.container-flex .col-arrow-top {
    padding-bottom: 20px;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
}
.container-flex .col-arrow-top img {
    margin-top: 10px;
}
.container-flex .col-arrow-right {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    align-self: center;
    justify-content: flex-start;
}
.container-flex .col-arrow-right img {
    margin-right: 10px;
}
.container-flex .col-arrow-bottom {
    padding-top: 20px;
    align-self: flex-start;
    justify-content: center;
    text-align: center;
}
.container-flex .col-arrow-bottom img {
    margin-bottom: 10px;
}
.container-flex .col-arrow-left {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    align-self: center;
    justify-content: flex-end;
}
.container-flex .col-arrow-left img {
    margin-left: 10px;
}
.container-flex .logo {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

/* Navigation */
ul.list-navigation {
    margin-top: 10px;
    text-align: right;
}
ul.list-navigation a {
    margin-right: 10px;
    text-transform: uppercase;
    color: rgb(138,138,138);
}
ul.list-navigation li:hover {
    background-image: url(../images/Pfeil_Folgeseite_links_blau.svg);
}
ul.list-navigation a:hover {
    color: rgb(64,88,171);
}
/*ul.list-navigation a:active {*/
    /*color: rgb(64,88,171);*/
/*}*/
ul.list-navigation li {
    background-image: url(../images/Pfeil_Folgeseite_links_grau.svg);
    background-repeat: no-repeat;
    background-position: 100% .25em;
    background-size: 11px 15px;
    padding-right: .6em;
    margin-bottom: 25px;
}
p {
    margin-bottom: 1px;
}
.zeile-abstand {
    margin-bottom: 20px;
}


/*Porträt seite*/
.portraet-link {
    margin-left: 37px;
    font-size: 1.1em;
    color: #8a8a8a;
}
.leistungen-link {
    margin-left: 6px;
    font-size: 1.1em;
    color: #8a8a8a;
}
.referenzen-link {
    margin-left: 6px;
    font-size: 1.1em;
    color: #8a8a8a;
}
.kontakt-link {
    margin-left: 37px;
    font-size: 1.1em;
    color: #8a8a8a;
}
/*Leistungen Seite*/
ul.leistungen-feile li{
    background-image: url(../images/Pfeil_Folgeseite_rechts_grau.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 11px 15px;
    padding-left: .6em;
    margin-bottom: 25px;
    text-align: left;
}
ul.leistungen-feile li:hover {
    background-image: url(../images/Pfeil_Folgeseite_rechts_blau.svg);
}
ul.leistungen-feile a:hover {
    color: rgb(64,88,171);
}

.leistungen{
    color: #4058ab;
}
.leistung-bilder {
    width: 650px;
    height: 440px;
}
/*Referenzen*/
.schrift {
    color: #4058ab;
}
.bullet-point {
    color: #4058ab;
}
ul.leistungen-feile a {
    margin-left: 15px;
    color: rgb(138,138,138);
}
