/* General */
@import url('https://fast.fonts.net/lt/1.css?apiType=css&c=6c3bae9f-7311-4937-9976-50b0f395aba7&fontids=1488878,1488902');
@font-face {
    font-family: 'Helvetica Neue LT W01_41488878';
    src:url('../fonts/1488878/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix');
    src:url('../fonts/1488878/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix') format('eot'),url('../fonts/1488878/3a46542f-f429-4821-9a88-62e3be54a640.woff2') format('woff2'),url('../fonts/1488878/50ac1699-f3d2-47b6-878f-67a368a17c41.woff') format('woff'),url('../fonts/1488878/0be5590f-8353-4ef3-ada1-43ac380859f8.ttf') format('truetype');
}
@font-face {
    font-family: 'Helvetica Neue LT W01_65 Md';
    src:url('../fonts/1488902/f95f9fc2-ffda-431c-9d6a-2c3668f5b20b.eot?#iefix');
    src:url('../fonts/1488902/f95f9fc2-ffda-431c-9d6a-2c3668f5b20b.eot?#iefix') format('eot'),url('../fonts/1488902/5b1fbd62-45dc-4433-a7df-a2b24a146411.woff2') format('woff2'),url('../fonts/1488902/050b1948-f226-4d20-a65a-15d8ed031222.woff') format('woff'),url('../fonts/1488902/beb88be6-2a60-46fe-914f-6892b3ae46ce.ttf') format('truetype');
}

html,body {
    font-family: 'Helvetica Neue LT W01_41488878',Helvetica,sans-serif;
}

a,
a:hover,
a:active {
    text-decoration: none;
}

strong {
    font-family: 'Helvetica Neue LT W01_65 Md',Helvetica,sans-serif;
}

hr {
    color: #4058ab;
}

/* Homepage */
.container-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.container-flex a {
    font-size: 20px;
    text-transform: uppercase;
    color: #8a8a8a;
}
.container-flex a:hover,
.container-flex a:active {
    color: #4058ab;
}
.container-flex > div {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.container-flex > div > div{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.container-flex .col-arrow-top {
    padding-bottom: 20px;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
}
.container-flex .col-arrow-top img {
    margin-top: 10px;
}
.container-flex .col-arrow-right {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    align-self: center;
    justify-content: flex-start;
}
.container-flex .col-arrow-right img {
    margin-right: 10px;
}
.container-flex .col-arrow-bottom {
    padding-top: 20px;
    align-self: flex-start;
    justify-content: center;
    text-align: center;
}
.container-flex .col-arrow-bottom img {
    margin-bottom: 10px;
}
.container-flex .col-arrow-left {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    align-self: center;
    justify-content: flex-end;
}
.container-flex .col-arrow-left img {
    margin-left: 10px;
}
.container-flex .logo {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

/* Navigation */
ul.list-navigation {
    margin-top: 10px;
    text-align: right;
}
ul.list-navigation a {
    margin-right: 10px;
    text-transform: uppercase;
    color: #BDCFCA;
}
li {
    background-image: url(../images/Pfeil_Folgeseite_links_grau.svg);
    background-repeat: no-repeat;
    background-position: 100% .25em;
    background-size: 11px 15px;
    padding-right: .6em;
    margin-bottom: 25px;
}
p {
    margin-bottom: 1px;
}
.zeile-abstand {
    margin-bottom: 20px;
}


/*Porträt seite*/
.portraet-link {
    margin-left: 37px;
    font-size: 1.1em;
    color: #8a8a8a;
}
.leistungen-link {
    margin-left: 6px;
    font-size: 1.1em;
    color: #8a8a8a;
}
.referenzen-link {
    margin-left: 6px;
    font-size: 1.1em;
    color: #8a8a8a;
}
.kontakt-link {
    margin-left: 37px;
    font-size: 1.1em;
    color: #8a8a8a;
}
/*Leistungen Seite*/
ul.leistungen-feile li{
    background-image: url(../images/Pfeil_Folgeseite_rechts_blau.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 11px 15px;
    padding-left: .6em;
    margin-bottom: 25px;
    text-align: left;
}
.leistungen{
    color: #4058ab;
}
.leistung-bilder {
    width: 650px;
    height: 440px;
}
/*Referenzen*/
.schrift {
    color: #4058ab;
}
.bullet-point {
    color: #4058ab;
}
ul.leistungen-feile a {
    margin-left: 15px;
}
