<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REFERENZEN</title>

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<div><img src="../assets/images/Logo_Pfade.svg" alt="Mega-14" class="mega-logo"></div>
<span class="glyphicon glyphicon-chevron-left link-header1"></span>
<a href="referenzen.html" class="portraet-link">PORTRÄT</a>
<span class="glyphicon glyphicon-chevron-left link-header2"></span>
<a href="leistungen.html" class="leistungen-link">LEISTUNGEN</a>
<span class="glyphicon glyphicon-chevron-left link-header3"></span>
<a href="referenzen.html" class="referenzen-link">REFERENZEN</a>
<span class="glyphicon glyphicon-chevron-left link-header4"></span>
<a href="kontakt.html" class="kontakt-link">KONTAKT</a>
<hr>
</body>
</html>